
.js-show-cookie-banner {
  .cookie-compliance {
    transform: translateY(0);
  }
}

.cookie-compliance {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: $brand;
  border-top: 1px solid #fff;
  z-index: 999999;
  transition: all 0.3s ease;
  transform: translateY(100%);

  .container {
    padding: 20px 20px 30px;
    p {
      text-align: center;
      color: $brand-light;
      font-size: 0.9rem;
    }
    .cookie-compliance__submit {
      text-align: center;
      padding: 5px 0;
      color: #fff;
      border-bottom: 1px solid #fff;
      &:hover {
        color: $brand-light;
        border-color: $brand-light;
      }
    }
  }




  * {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }

}