
$transparent: transparent;
$white: #fff;
$black: #000;
$brand: #0dfd;
$brand-light: rgba(0, 193, 221, 0.87);

$color-pallete: (
  //default
        "transparent" : $transparent,
        "white" : $white,
        "black" : $black,
        "brand" : $brand,
        "brand-light" : $brand-light
);

