html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch !important; /* Lets it scroll lazy */
}


.grecaptcha-badge {
  visibility: collapse !important;
}

#moove_gdpr_cookie_info_bar {
  background: $brand !important;

  .moove-gdpr-info-bar-container {
    padding: 20px !important;
    .moove-gdpr-cookie-notice {
      * {
        color: $brand-light !important;
      }
    }
    .moove-gdpr-info-bar-content {
      display: block !important;
      text-align: center !important;

      .moove-gdpr-button-holder {
        margin: 0 auto !important;
        display: block !important;
        margin-top: 10px !important;

        button {
          padding: 5px 0 !important;
          background: transparent !important;
          color: #fff !important;
          border-bottom: 1px solid #fff !important;
          border-radius: 0 !important;
          letter-spacing: 0 !important;
          margin: 0 10px !important;
          &:hover {
            border: none !important;
            border-bottom: 1px solid $brand-light !important;
            color: $brand-light !important;
          }
        }
      }
    }
  }

  * {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}